.idea
**/__pycache__
.vscode
**/*.ipynb
**test**
dataProc

**model_5.py**
**mysql_goodsLocationInfo**
**mysql_productionLineData**
**mysql_deepLearningData**

**module_week/files/**

**ipynb_checkpoints**